.control[data-inactive] {
  opacity: 0;
  cursor: default;
}
/* .controls {
  bottom: 12px !important;
} */
.indicator {
  width: 109px !important;
  height: 8px !important;
  border-radius: 20px !important;
  background: #92b2c8 !important;
}

.indicator[data-active] {
  background: #fff !important;
}
.indicators {
  padding: 0 4%;
}
.slide {
  height: 750px;
}
@media only screen and (min-width: 602px) and (max-width: 1280px) {
.slide{
  height: 545px;
}
.controls{
  margin-top: -2% !important;
}
}

@media screen and (max-width: 601px) {
  .slide {
    height: 283px;
  }

  .indicator {
    display: none;
  }
  .control {
    height: 10px;
    width: 10px;
  }
}
