.control[data-inactive] {
  opacity: 0;
  cursor: default;
}
.indicator {
  width: 109px !important;
  height: 8px !important;
  border-radius: 20px !important;
  background: #92b2c8 !important;
}

.indicator[data-active] {
  background: #fff !important;
}

.indicators {
  padding: 0 4%;
}
