.title {
  font-size: larger;
  text-align: center !important;
  font-weight: 700;
}

.header {
  background-color: #ededed;
  margin-bottom: 2%;
}
.close {
  background: red;
  color: white;
  border-radius: 100%;
}
