.title {
  font-size: larger;
  text-align: center !important;
  font-weight: 700;
  color: #001f35;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.header {
  background-color: #ededed;
  margin-bottom: 2%;
  display: none;
}
.close {
  background: red;
  color: white;
  border-radius: 100%;
}

.overlay {
  margin-top: 90px;
}

.content {
  margin-top: 90.2px;
}
