.title {
  color: #202020;
  font-size: larger;
  text-align: center !important;
  font-weight: 700;
}
.close {
  background: red;
  color: white;
  border-radius: 100%;
}

.content {
  border-radius: 20px;
}
