.title {
  color: #202020;
  font-size: larger;
  text-align: center !important;
  font-weight: 700;
  padding-left: 20px;
}
.close {
  background: red;
  color: white;
  border-radius: 100%;
  margin-right: 10px;
}

.content {
  border-radius: 20px;
  margin-top: 90px;
}

.overlay {
  margin-top: 90px;
}

.input {
  color: #4d6677;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  height: 33px;
  border-radius: 5px;
  border: 0.3px solid #4d6677;
  background: #fff;
  box-sizing: border-box;
  align-self: flex-end;
}
.input::placeholder {
  color: #4d6677;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
.input:focus::placeholder {
  color: transparent !important;
}
.label {
  color: #4d6677;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.root {
  padding-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding-top: auto;
}

.hidden {
  display: none;
}

.option:hover {
  background: #0073c6;
  color: white;
}
