.close {
  background: red;
  color: white;
  border-radius: 100%;
  display: none;
}

.content {
  border-radius: 20px;
  background: transparent;
  margin-top: 45px;
  scrollbar-color: gray;
  scrollbar-width: thin;
  scrollbar-track-color: gray;
}

.header {
  display: none;
  background-color: transparent;
}

.overlay {
  margin-top: 45px;
}

.inner {
  overflow-y: hidden;
}
