.close {
  background: red;
  color: white;
  border-radius: 100%;
  display: none;
}

.content {
  border-radius: 20px;
  background: transparent;
  margin-top: 70px;
}

.header {
  display: none;
  background-color: transparent;
}

.overlay {
  margin-top: 70px;
}

.inner {
  overflow-y: hidden;
}
