.close {
  background: red;
  color: white;
  border-radius: 100%;
  margin-right: 10px;
}

.body {
  border-radius: 20px;
  margin-top: 130px;
}

.overlay {
  margin-top: 130px;
}

.header {
  display: none;
}
