.close {
  background: red;
  color: white;
  border-radius: 100%;
  margin-right: 10px;
}

.body {
  border-radius: 20px;
  margin-top: 90px;
}

.overlay {
  margin-top: 90px;
}

.header {
  display: none;
}

.inner {
  position: relative;
}
