.input {
  height: 40px !important;
  color: #212C33;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.64px;

  border-radius: 5px;
  border: 1px solid #92B2C8;

  background: #FFF;
}

.errorMsg{
  text-align: right;
}

.classForContact{
  height: 40px !important;
  color: #212C33;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.64px;

  border-radius: 5px;

  background: #FFF;
  padding-left: 80px;
}

.classForContact::placeholder {
  color: #556477 !important;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
}

.classForContact::-ms-input-placeholder { /* Edge 12-18 */
  color: #556477 !important;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.contectInput{
  height: 40px !important;
  color: #212C33;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.64px;

  border-radius: 5px;
  border: 1px solid #92B2C8;

  background: #FFF;
  padding-left: 73px;
}

.description{
  display: none;
}

/* .wrapper{
  height: 40px !important;
} */

.label{
  color: #303A42;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.56px;
}
