.steps {
  margin-bottom: 5%;
}

.step {
  padding: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.separator {
  margin-left: -2rem;
  margin-right: -2rem;
  height: 0.1rem;
  border: 1px dashed green;
  width: 100%;
  position: relative;
  bottom: 13px;
}
.stepIcon {
  /* background-color: green; */
  outline: none;
  background: white;
  border: none;
  /* border-width: 4px; */
}
.stepLabelActive {
  color: green;
}

.steplabel {
  color: #333333;
}

.rootSuccess {
  display: none;
}

.pill {
  background-color: #0c7aca;
  color: white;
}

@media (max-width: 768px) {
  .stepLabel {
    max-width: 70px;
    font-size: 12px;
    text-align: center;
  }
  .stepLabelActive {
    max-width: 70px;
    font-size: 12px;
    text-align: center;
  }
}
