.root {
  width: 100%;
}

.content {
  margin-top: 18px !important;
  width: 100% !important;
}

.steps {
  margin-bottom: 5%;
}

.step {
  padding: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  position: relative;
}

.errorMsg {
  text-align: right;
}

.separator {
  margin-left: -2rem;
  margin-right: -2rem;
  height: 0.1rem;
  border: 1px dashed #b5abac !important;
  width: 100%;
  position: relative;
  top: -3px;
  overflow-x: hidden;
}

.separatorForAgent {
  margin-left: -2rem;
  margin-right: -2rem;
  height: 0.1rem;
  border: 1px dashed #b5abac !important;
  width: 80% !important;
  position: relative;
  top: -3px;
  z-index: 0;
}

.stepperIcon {
  position: relative;
  z-index: 3;
  background-color: white;
}

.stepIcon {
  /* background-color: green; */
  outline: none;
  background: white;
  border: none;
  /* border-width: 4px; */
}

.steplabelCommonForAll {
  color: black;
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  position: absolute;
  right: -30px;
  white-space: nowrap;
}

.stepLabelActive {
  color: var(--Brand-green-primary, #148b16) !important;
  text-align: center !important;
  font-family: Montserrat !important;
  font-size: 12px !important;
  font-weight: bold !important;
}

.stepLabelDone {
  color: var(--Brand-green-primary, #148b16) !important;
  text-align: center !important;
  font-family: Montserrat !important;
  font-size: 12px !important;
  font-weight: 500 !important;
}

.steplabel {
  color: var(--Black-2, #333);
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.textInput {
  color: var(--Black-2, #333);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  opacity: 1;
}

.textInput::placeholder {
  color: #556477 !important;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
}

.textInput::-ms-input-placeholder {
  /* Edge 12-18 */
  color: #556477 !important;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.rootSuccess {
  display: none;
}

.pill {
  background-color: #0c7aca;
  color: white;
}

.inputRoot {
  width: 100% !important;
  max-width: 423px !important;
}

@media only screen and (min-width: 641px) and (max-width: 1280px) {
  .stepLabel {
    max-width: 70px;
    font-size: 12px;
    text-align: center;
  }
  .stepLabelActive {
    max-width: 70px;
    font-size: 12px;
    text-align: center;
  }

  .steplabelCommonForAll {
    white-space: normal;
    right: -15px !important;
  }

  .root {
    width: 90%;
  }

  /* .content{
    width: 100% !important;
    max-width: 423px !important;
  } */
}

@media (max-width: 640px) {
  .stepLabel {
    max-width: 60px;
    font-size: 12px;
    text-align: center;
  }
  .stepLabelActive {
    max-width: 60px;
    font-size: 12px;
    text-align: center;
  }

  .steplabelCommonForAll {
    white-space: normal;
    right: -15px !important;
  }

  /* .content{
    margin-top: 28px !important;
  } */
}
