.dropdown {
  background-color: #f3f3f3;
  min-width: fit-content;
}
.option {
  color: #242424;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  text-wrap: nowrap;
  align-items: center;
}

.input {
  background-color: #f3f3f3;
  color: #242424;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.input::placeholder {
  color: #242424 !important;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.pill {
  background: white;
}
