.close {
  background: red;
  color: white;
  border-radius: 100%;
}
.title {
  color: #001f35;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
