@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playball&display=swap");

@import "@mantine/core/styles.css";

@layer tailwind {
  @tailwind base;
}
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
* {
  font-family: "Montserrat", sans-serif;
  overflow-wrap: break-word;
}

.cursive {
  color: #009c59;
  font-family: Playball;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* width */

@media screen and (max-width: 768px) {
  .cursive {
    font-size: 18px;
  }
}

.specification {
  border-radius: 10px;
  background: linear-gradient(
    90deg,
    #d4edff -44.59%,
    rgba(245, 251, 255, 0.12) 100%
  );
}

.specificationRemove {
  border-radius: none;
  background: transparent;
}

.headerBg {
  background: var(--header-bg, linear-gradient(287deg, #eff8ff 0%, #fff 100%));
}
.scrollUnique {
  border-radius: 20px;
  background: transparent;
  margin-left: 5px;
  /* margin-top: 45px; */
  /* scrollbar-color: gray;
  scrollbar-width: thin;
  scrollbar-track-color: gray; */
}
/* Webkit scrollbar */
.scrollUnique::-webkit-scrollbar {
  width: 5px;
}

/* Track of the scrollbar */
.scrollUnique::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle of the scrollbar */
.scrollUnique::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}
.scrollUnique::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.rtm {
  display: inline-flex;
  padding: 6px 8px 7.522px 7px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: linear-gradient(91deg, #000 0.74%, rgba(0, 0, 0, 0.4) 103.26%);
}

.m-89d60db1[data-variant="default"] {
  --_list-border-width: 0 !important;
}

.map {
  background-color: #148b16 !important;
  border-radius: 5% !important;
  border: none !important;
}
.leaflet-tooltip-top:before {
  border-top-color: #148b16 !important;
}

.builderBg {
  background: linear-gradient(
    282deg,
    #eef7fe 0%,
    rgba(245, 245, 245, 0.96) 100%
  );
}

.cardBg {
  background: var(--ll1, linear-gradient(272deg, #eff5ff 0%, #f2faff 100%));
}

.sideBarBg {
  background: rgba(197, 215, 228, 0.3);
}

/* listing custom styles */
.listingProjectCard {
  border-radius: 385px;
  background: linear-gradient(
    180deg,
    rgba(20, 139, 22, 0.3) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  width: 385px;
  height: 385px;
  flex-shrink: 0;
}

.ratingCardBg {
  border-radius: 20px;
  border: 0.5px solid #bfe4fd;
  background: linear-gradient(100deg, #fbfdff 0%, #def2ff 99.34%);
}

.loginBg {
  background: linear-gradient(287deg, #c5e7ff 0%, #f1f9ff 100%);
}

.listingBannerBg {
  background: var(
    --blue-gradient,
    linear-gradient(118deg, #eff5ff 0.38%, #eff5ff 50.69%, #d3edff 100%)
  );
}
.prjImgBg {
  background: linear-gradient(180deg, #efefef 0.07%, #9f9f9f 142.86%);
}

.svg-default {
  stroke: #767676;
  /* fill: #767676; */
}

.svg-selected {
  fill: white;
  stroke: white;
}

.newGra {
  background: linear-gradient(
    272deg,
    rgba(224, 224, 224, 0.64) 0%,
    rgba(255, 255, 255, 0.64) 55.5%,
    rgba(255, 255, 255, 0.64) 100%
  );
}

@media screen and (max-width: 601px) {
  .svg-default {
    height: 15px;
    width: 15px;
  }

  .svg-selected {
    height: 15px;
    width: 15px;
  }
}

.cluster-icon {
  background-color: #e60127;
  height: 2em;
  width: 2em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.2rem;
  box-shadow: 0 0 0px 5px #fff;
}

.gradient {
  background: linear-gradient(to right, #0073c6, #148b16, #ffd600, #ff0000);
}
