@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playball&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
* {
  font-family: "Montserrat", sans-serif;
}

.cursive {
  color: #009c59;
  font-family: Playball;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* width */

@media screen and (max-width: 768px) {
  .cursive {
    font-size: 18px;
  }
}

.specification {
  border-radius: 10px;
  background: linear-gradient(
    90deg,
    #d4edff -44.59%,
    rgba(245, 251, 255, 0.12) 100%
  );
}

.specificationRemove {
  border-radius: none;
  background: transparent;
}

.headerBg {
  background: var(--header-bg, linear-gradient(287deg, #eff8ff 0%, #fff 100%));
}
.scrollUnique {
  border-radius: 20px;
  background: transparent;
  margin-left: 5px;
  /* margin-top: 45px; */
  /* scrollbar-color: gray;
  scrollbar-width: thin;
  scrollbar-track-color: gray; */
}
/* Webkit scrollbar */
.scrollUnique::-webkit-scrollbar {
  width: 5px;
}

/* Track of the scrollbar */
.scrollUnique::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle of the scrollbar */
.scrollUnique::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}
.scrollUnique::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.rtm {
  display: inline-flex;
  padding: 6px 8px 7.522px 7px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: linear-gradient(91deg, #000 0.74%, rgba(0, 0, 0, 0.4) 103.26%);
}

.m-89d60db1[data-variant="default"] {
  --_list-border-width: 0 !important;
}

.map {
  background-color: #148b16 !important;
  border-radius: 5% !important;
  border: none !important;
}
.leaflet-tooltip-top:before {
  border-top-color: #148b16 !important;
}
